name: Docker Image Build PUSH

on: [push]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: mr-smithers-excellent/docker-build-push@v1.0
      with:
        image: debiansys/glghproxy
        tag: latest
        registry: docker.io
        dockerfile: Dockerfile
        username: debiansys
        password: ${{ secrets.DOCKER_PASSWORD }}
